<form name="form2" method="POST" action="/items/<%= data %>?_method=PUT">
    
    <div class="form-group">
        <% const editItemId = data %>
        <% console.log('ItemId: ' + editItemId) %>
        <script>
          console.log( <%- JSON.stringify(data) %> )
        </script>
        <label for="itemType">What type of item: </label>
        <select id="itemType" name="itemType" class="form-control mx-sm-3" required>
          <% 
          var options = [ "Box", "Tote", "Large Item/Furniture" ];
          for (let i = 0; i < options.length; i++){
            
            %><option value="<%=options[ i ] %>" ><%=options[i] %></option><%
          }
          %> 
         
        </select>
        <br>
        <label for="conName">Name: </label>
        <input id="conName" name="conName" type="text" class="form-control mx-sm-3" required>
        <br>
        <label for="conDesc">Description: </label>
        <input id="conDesc" name="conDesc" type="text" class="form-control mx-sm-3" required>
        <br>
        <label for="conLoc">Location: </label>
        <select id="conLoc" name="conLoc" class="form-control mx-sm-3" required>
            
          <% 
          var options = [ "Storage Unit", "Garage", "Attic", "Basement", "Stroage Closet", "Other" ];
          for (let i = 0; i < options.length; i++){
            
            %><option value="<%=options[ i ] %>" ><%=options[i] %></option><%
          }
          %>           
        </select>
        <br>
        <label for="id">ID:</label>
        <input type="text" id="id" class="form-control mx-sm-3" name="id" value="" readonly>
        <br>
        <script>
          const editItem = <%- JSON.stringify(data) %>;
          const itemInfo = localStorage.getItem(editItem);
          const itemName = JSON.parse(itemInfo);
          const iName = itemName.label;
          console.log(editItem);
          console.log(itemInfo);
          console.log(itemName);
          console.log(itemName.id);
          document.getElementById('id').value = itemName.id;
          document.getElementById('conName').value = iName;
          document.getElementById('conDesc').value = itemName.descript;
          document.getElementById('conLoc').value = itemName.loc;
          document.getElementById('itemType').value = itemName.type;
        </script>
    </div>

    <button type="submit" class="btn btn-primary">Submit Changes</button>
  </form>   