<form name="form2" method="POST" action="/items/<%= data %>?_method=PUT">
    
    <div class="form-group">
        <% const editItemId = data %>

        <label for="itemType">What type of item: </label>
        <select id="itemType" name="itemType" class="form-control mx-sm-3" required>
          <% 
          var options = [ "Box", "Tote", "Large Item/Furniture" ];
          for (let i = 0; i < options.length; i++){
            
            %><option value="<%=options[ i ] %>" ><%=options[i] %></option><%
          }
          %> 
         
        </select>
        <br>
        <label for="conName">Name: </label>
        <input id="conName" name="conName" type="text" class="form-control mx-sm-3" required>
        <br>
        <label for="conDesc">Description: </label>
        <input id="conDesc" name="conDesc" type="text" class="form-control mx-sm-3" required>
        <br>
        <label for="conLoc">Location: </label>
        <select id="conLoc" name="conLoc" class="form-control mx-sm-3" required>
            
          <% 
          var options = [ "Storage Unit", "Garage", "Attic", "Basement", "Storage Closet", "Other" ];
          for (let i = 0; i < options.length; i++){
            
            %><option value="<%=options[ i ] %>" ><%=options[i] %></option><%
          }
          %>           
        </select>
        <br>
        <label for="id">ID:</label>
        <input type="text" id="id" class="form-control mx-sm-3" name="id" value="" readonly>
        <br>
        <script>
          const infoParse = JSON.parse(localStorage.getItem(<%- JSON.stringify(data) %>));
          
          document.getElementById('id').value = infoParse.id;
          document.getElementById('conName').value = infoParse.label;
          document.getElementById('conDesc').value = infoParse.descript;
          document.getElementById('conLoc').value = infoParse.loc;
          document.getElementById('itemType').value = infoParse.type;
        </script>
    </div>

    <button type="submit" class="btn btn-primary">Submit Changes</button>
  </form>   